.App {
  text-align: center;
  height: 100%;
}

body {
  background-color: rgb(232, 236, 237);
  font-family: ubuntu;
}

h1 {
  padding: 0px;
  margin: 0px;
}

#title-container {
  margin: 0 auto;
  padding: 20px;
}

#content-lvl1 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 0.5vmin;
  margin-top: 0px;
  background-color: #a4a4a4;
  padding: calc(5px + 2vmin);
  box-sizing: border-box;
}

#content-lvl2 {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.content-group {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 1.5vmin;
  padding: calc(3.5px + 1.5vmin);
  padding-bottom: calc(5px + 1.6vmin);
  margin: calc(5px + 2vmin);
  background-color: rgb(255, 102, 0);
  box-shadow: 3px 3px 2px -1px rgb(128, 128, 128);
}

h1 {
  font-size: calc(13px + 3.0vmin);
}

h3 {
  font-size: calc(10px + 1.2vmin);
}

h4 {
  font-size: calc(8px + 1.5vmin);
  margin-top: calc(5px + 1vmin);
  margin-bottom: calc(5px + 1vmin);
}

p {
  font-size: calc(8px + 1vmin);
  margin-top: calc(3.5px + 0.7vmin);
  margin-bottom: calc(3.5px + 0.7vmin);
}

label {
  font-size: calc(7px + 1vmin);
}

.source {
  font-size: calc(6px + 0.7vmin);
}

.instructions {
  font-weight: 600;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.textbox {
  border-radius: 2px;
  border:none;
  padding-left: 2px;
  max-width: 175px;
}

#lang-table {
  margin: 0 auto;
  margin-top: 7px;
}

.table-col-lang {
  text-align: right;
}

.exit {
  display: inline-block;
  background-color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

#userJobLocation {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.job-listing {
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  box-shadow: 3px 3px 2px -1px rgb(128, 128, 128);
  background-color: rgb(255, 102, 0);
}

.source {
  border-radius: 5px;
  padding: 3px;
  float: right;
  margin-bottom: 5px;
  font-weight: bold;
}

a {
  color: #205254;
  cursor: pointer;
  text-decoration: underline;
}

#job-board-checkbox-form {
  font-size: 13px;
}

.user-lang-div {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 5px 4px 0px;
  background-color: #a4a4a4;
  border-radius: 4px;
  margin: 15px 5px 0px 5px;
}

.user-lang-span {
  font-size: 14px;
}

.weight-input {
  width: 70px;
}

#listing-container {
  margin: 15px;
}

#get-results {
  background-color: rgb(255, 102, 0);
  border-radius: 17px;
  border: 1px solid rgb(128, 128, 128);
  padding: 7px 12px 7px 12px;
  color: black;
  font-size: 1.2rem;
}

.button {
  cursor: pointer;
}

.listing-options {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgb(255, 102, 0);
  border-radius: 8px;
  border: 1px solid rgb(128, 128, 128);
  padding: 5px 8px 5px 8px;
  color: black;
  font-size: 0.8rem;
  display: inline-block;
}

.read-less, .read-more {
     background:none;
     color: #205254;
     border:none;
     padding:0;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
}

#checkbox-container {
  margin: 0 auto;
  text-align: center;
}

#checkbox-group {
  display: inline-block;
}

.checkbox {
  text-align: left;
}

#add {
  border:none;
  background-color: #a4a4a4;
  border-radius: 2px;
}

#loader {
  border: none;
  display: block;
  outline: none;
  margin: 0 auto;
  margin-top: 10px;
  width: 60%;
  text-align: right;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.typewriter p {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-top: 10px;
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
